<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">


    <servlet>
        <servlet-name>connexionServlet</servlet-name>
        <servlet-class>fr.efrei.balancetonprof.ConnexionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>connexionServlet</servlet-name>
        <url-pattern>/connexion-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>inscriptionServlet</servlet-name>
        <servlet-class>fr.efrei.balancetonprof.InscriptionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>inscriptionServlet</servlet-name>
        <url-pattern>/inscription-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>profilServlet</servlet-name>
        <servlet-class>fr.efrei.balancetonprof.ProfilServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>profilServlet</servlet-name>
        <url-pattern>/profil-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>offreServlet</servlet-name>
        <servlet-class>fr.efrei.balancetonprof.OffreServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>offreServlet</servlet-name>
        <url-pattern>/offre-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>candidatureServlet</servlet-name>
        <servlet-class>fr.efrei.balancetonprof.CandidatureServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>candidatureServlet</servlet-name>
        <url-pattern>/candidature-servlet</url-pattern>
    </servlet-mapping>

</web-app>